---
import BaseLayout from "../../layouts/BaseLayout.astro";
import RunDetails from "../../components/RunDetails.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../runs/**/*.md");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const pageTitle = `Tagged Runs: ${tag}`;
const { posts } = Astro.props;
const runs = posts.map((element) => {
  return {
    title: element.frontmatter.title,
    date: element.frontmatter.date,
    hoursOfSleep: element.frontmatter.hoursOfSleep,
    timeElapsed: element.frontmatter.timeElapsed,
    distanceCovered: element.frontmatter.distanceCovered,
    averagePace: element.frontmatter.averagePace,
    tags: element.frontmatter.tags,
    content: element.rawContent(),
  };
});
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tw-container tw-mx-auto tw-px-4">
    <h1 class="tw-font-black tw-text-4xl tw-mb-2 tw-mt-8">{pageTitle}</h1>

    <div class="tw-grid md:tw-grid-cols-2 tw-gap-6">
      {runs.map((run) => <RunDetails run={run}>{run.content}</RunDetails>)}
    </div>
  </div>
</BaseLayout>
